@using XT.Model
@using XT.Web.Models

@model Student_FeePlan
@if (Model != null)
{
    var name = ViewBag.EntityName;
    <input type="hidden" value="@Model.Id" name="Id">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Student</label>
                @if (Model.Student_Id == 0)
                {
                <select class="form-control select-students" style = "width: 100%;" name="Student_Id">
                </select>
                }
                else
                {
                <input class="form-control" value="@Model.Student.Student_FullName" disabled />
                <input type="hidden" value="@Model.Student_Id" name="Student_Id">
                }
            </div>
            @*<div class="form-group">
                <label>FeePlan</label>
                @Html.DropDownListFor(model => model.FeePlan_Id, 
                    new SelectList(LayoutModel.FeePlans(), "Id", "FeePlan_Name", Model.FeePlan_Id), 
                    new { @class = "form-control select2", style = "width: 100%;" })
            </div>*@
            <div class="form-group">
                <label>FeePlan</label>
                <select name="FeePlan_Id" class="form-control select2 target-select" data-target="Nominal_Course_Fee,Actual_Course_Fee">
                    @foreach (var c in LayoutModel.FeePlans())
                    {
                        <option value="@c.Id" @(Model.FeePlan_Id == c.Id ? "selected" : "")
                            data-value="@c.FeePlan_Price">@c.FeePlan_Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Start Date</label>
                <input type="text" name="FeePlan_StartDate" 
                               value="@Model.FeePlan_StartDate.ToString("dd/MM/yyyy")" class="form-control monthdatepicker">
            </div>
            <div class="form-group">
                <label class="title-text">Nominal Course Fee</label>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Nominal_Course_Fee,
                    new { @class = "form-control", placeholder = "" })
                    <div class="input-group-addon">$</div>
                </div>
            </div>
            <div class="form-group">
                <label class="title-text">Discount Amount</label>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Discount_Amount,
                    new { @class = "form-control", placeholder = "" })
                    <div class="input-group-addon">$</div>
                </div>
            </div>
            <div class="form-group">
                <label class="title-text">Actual Course Fee</label>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Actual_Course_Fee,
                    new { @class = "form-control", placeholder = "" })
                    <div class="input-group-addon">$</div>
                </div>
            </div>
        </div>
    </div>
}
