@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using XT.BusinessService;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IEntity>

@{
    var lstItems = Model.ToList<Student_AcademicStatus>();//sửa
    var name = ViewBag.EntityName as string;
    var entity = ViewBag.Entity as string;
    
    //api
    var controller_name = XT.Web.Models.LayoutModel.GetControllerName();
    var api_delete = "/" + controller_name + "/Delete" + entity;
    //partial
    var addview_name = "AddEdit_Partial/_partial_AddEdit_" + entity;
}


<table class="table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Date</th>
            <th>Reason</th>
            <th>FeePlan if Delay</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstItems)
        {
            <tr id="item-@item.Id">
                <td class="notranslate">@item.Id</td>
                <td>@((StudentAcademicStatusEnum)item.Student_Status)</td>
                <td>@item.Student_Status_Date.ToDateString()</td>
                <td>@item.Student_Status_Note</td>
                <td></td>
                <td class="options">
                    @Html.Partial("../Admin/_partial_Search_Model_Options",
                        Tuple.Create((IEntity<Int32>)item, api_delete, addview_name, name))
                </td>
            </tr>
        }
    </tbody>
</table>
