@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using XT.BusinessService;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IEntity>

@{
    var lstItems = Model.ToList<BookOrder>();//sửa
    var name = ViewBag.EntityName as string;
    var entity = ViewBag.Entity as string;
    
    //api
    var controller_name = XT.Web.Models.LayoutModel.GetControllerName();
    var api_delete = "/" + controller_name + "/Delete" + entity;
    //partial
    var addview_name = "AddEdit_Partial/_partial_AddEdit_" + entity;
}


<table class="table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Indent Date</th>
            <th>Indent No.</th>
            <th>Center</th>
            <th>Indent Status</th>
            <th>SAP Customer ID</th>
            <th>Count</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstItems)
        {
            <tr id="item-@item.Id">
                <td class="notranslate">@item.Id</td>
                <td>
                    <a href="@Url.Action("ManageAcademic_BookOrder_Detail", new { id = item.Id })">@item.Indent_Date.ToDateString()</a>
                </td>
                <td>@item.Indent_Number</td>
                <td>@item.Center</td>
                <td>@((IndentStatusEnum)item.Indent_Status)</td>
                <td>@item.SAP_Customer_ID</td>
                <td>@item.BookOrder_Details_List.Count() indents</td>
                <td class="options">
                    @Html.Partial("../Admin/_partial_Search_Model_Options",
                            Tuple.Create((IEntity<Int32>)item, api_delete, addview_name, name))
                </td>
            </tr>
        }
    </tbody>
</table>
