@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using XT.BusinessService;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IEntity>

@{
    var lstItems = Model.ToList<Class_Module_StudentExam>();//sửa
    var name = ViewBag.EntityName as string;
    var entity = ViewBag.Entity as string;
    
    //api
    var controller_name = XT.Web.Models.LayoutModel.GetControllerName();
    var api_delete = "/" + controller_name + "/Delete" + entity;
    //partial
    var addview_name = "AddEdit_Partial/_partial_AddEdit_" + entity;
}

<table class="table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Class</th>
            <th>Module</th>
            <th>Batch</th>
            <th>Hour</th>
            <th>Day</th>
            <th>Sem</th>
            <th>FC</th>
            <th>Type</th>
            <th>Attendance</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstItems)
        {
            var module = item.Class_Module;
            <tr id="item-@item.Id">
                <td class="notranslate">@item.Id</td>
                <td>@module.Class_Name</td>
                <td>
                    <a href="@Url.Action("ManageSchedule_ClassModule_StudentAttendance", "ManageSchedule", new { id = module.Id })">
                    @module.Module.Module_Name
                    </a>
                </td>
                <td>@LayoutModel.GetText_ClassDayEnum((ClassDayEnum)module.Class_Module_Day)</td>
                <td>@(module.Class_Module_Hour_Start.ToHourString())h-@(module.Class_Module_Hour_End.ToHourString())h</td>
                <td>@module.Class_Module_Date_Start.ToDateString() - @module.Class_Module_Date_End.ToDateString()</td>
                <td>Sem @module.Module.Semester</td>
                <td>@module.Faculty.FC_Name</td>
                <td>
                    @{
                        var color = item.Student_Status == (int)StudentClassModuleStatusEnum.Official ? "green" : "yellow";
                    }
                    <span class="badge bg-@color">@((StudentClassModuleStatusEnum)item.Student_Status)</span>
                </td>
                <td>@item.TotalAttendance()%</td>
                <td>
                    <a href="@Url.Action("ManageSchedule_ClassModule_StudentAttendance", "ManageSchedule", new { id = module.Id, student_id = item.Student_Id })" class="btn btn-primary btn-xs" title="Chi tiết điểm danh môn học">Detail</a>
                </td>
            </tr>
            }
    </tbody>
</table>
