@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using PagedList;
@using PagedList.Mvc;

@model Student
@{
    var current_student = Model as Student;
    var tab = ViewBag.Tab as string;
    
    var name_user = current_student.Student_FullName;
    
    var title = name_user;
    ViewBag.Title = title;
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";

    //api
    var entity = "Student_FeePlan_Installment";
    var controller_name = XT.Web.Models.LayoutModel.GetControllerName();
    var api_add = "/" + controller_name + "/Add" + entity;
    var api_edit = "/" + controller_name + "/Edit" + entity;
    var api_delete = "/" + controller_name + "/Delete" + entity;
    //partial
    var addview_name = "AddEdit_Partial/_partial_AddEdit_" + entity;
}

@*/////////////////////////////////////////////////////////////////////////*@
@*/////////////////////////////////////////////////////////////////////////*@
@*/////////////////////////////////////////////////////////////////////////*@
@*SỬA*@
<input type="hidden" id="postAddLink" value="@api_add" />
<input type="hidden" id="postEditLink" value="@api_edit" />
<input type="hidden" id="postDeleteLink" value="@api_delete" />
<input type="hidden" id="postIsUploadImage" value="true" />
@*/////////////////////////////////////////////////////////////////////////*@
@*/////////////////////////////////////////////////////////////////////////*@
@*/////////////////////////////////////////////////////////////////////////*@

<section class="content-header">
    <h1>Student Profile Page
    </h1>
    <ol class="breadcrumb low">
        <li><a href="@Url.GoAccountAdminFirstPage()"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("ManageAcademic_Student")">Manage Students</a></li>
        <li class="active">@name_user</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("Partial/_partial_StudentDetail_ProfileInfo", current_student)
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="@(tab == "AcademicStatus" ? "active" : "")"><a href="#AcademicStatus" data-toggle="tab" aria-expanded="false">Status</a></li>
                    <li class="@(tab == "ClassHistory" ? "active" : "")"><a href="#ClassHistory" data-toggle="tab" aria-expanded="false">Class History</a></li>
                    <li class="@(tab == "Prize" ? "active" : "")"><a href="#Prize" data-toggle="tab" aria-expanded="false">Prize</a></li>
                    <li class="@(tab == "FeePlan" ? "active" : "")"><a href="#FeePlan" data-toggle="tab" aria-expanded="true">FeePlan</a></li>
                    <li class="@(tab == "DuThinh" ? "active" : "")"><a href="#DuThinh" data-toggle="tab" aria-expanded="true">Dự thính</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane @(tab == "AcademicStatus" ? "active" : "")" id="AcademicStatus">
                        @Html.Partial("Partial/_partial_StudentDetail_AcademicStatus", current_student)
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane @(tab == "FeePlan" ? "active" : "")" id="FeePlan">
                        <div class="">
                            <div class="box-header">
                                <h3 class="box-title">FeePlan của SV @name_user</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                @Html.Partial("Search_Result/_partial_Search_Student_FeePlan_Installment_View", current_student.Student_FeePlan_Installments_List.ToPagedList(1, 100))
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane @(tab == "ClassHistory" ? "active" : "")" id="ClassHistory">
                        @Html.Partial("Partial/_partial_StudentDetail_ClassHistory", current_student)
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane @(tab == "Prize" ? "active" : "")" id="Prize">
                        @Html.Partial("Partial/_partial_StudentDetail_Prize", current_student)
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane @(tab == "DuThinh" ? "active" : "")" id="DuThinh">
                        @Html.Partial("Partial/_partial_StudentDetail_Guest", current_student)
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Sem1" data-toggle="tab" aria-expanded="false">Sem 1</a></li>
                    <li class=""><a href="#Sem2" data-toggle="tab" aria-expanded="true">Sem 2</a></li>
                    <li class=""><a href="#Sem3" data-toggle="tab" aria-expanded="false">Sem 3</a></li>
                    <li class=""><a href="#Sem4" data-toggle="tab" aria-expanded="false">Sem 4</a></li>
                    @if (current_student.Extra_Modules_List.Count() > 0)
                    {
                    <li class=""><a href="#Extra" data-toggle="tab" aria-expanded="false">Extra</a></li>
                    }
                </ul>
                <div class="tab-content">
                    @for(var i = 1; i <= 4; i++)
                    {
                    @*<div class="tab-pane @(i == 1 ? "active" : "")" id="Sem@(i)">
                        @Html.Partial("Partial/_partial_StudentDetail_Mark", Tuple.Create(current_student, i))
                    </div>*@
                        @Html.Partial("Partial/_partial_StudentDetail_Mark", Tuple.Create(current_student, i))
                    }
                    @Html.Partial("Partial/_partial_StudentDetail_Mark", Tuple.Create(current_student, -1))
                    @*<div class="tab-pane" id="Extra">
                        @Html.Partial("Partial/_partial_StudentDetail_Mark", Tuple.Create(current_student, -1))
                    </div>*@
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
