@*<html lang="vi-vn" xml:lang="vi-vn">
<head>
    <title>Email</title>
</head>
<body>
    <div style="font-size: 10pt; font-family: Arial,Helvetica,sans-serif">
        <center>
            <table cellspacing="0" cellpadding="2" style="font-size:10pt;font-family:Arial,Helvetica,sans-serif;min-width:700px">
                <tbody>
                    <tr>
                        <td bgcolor="#007DBA">
                            <table width="100%" cellspacing="0" cellpadding="3" border="0" bgcolor="#ffffff" style="font-size:10pt;font-family:Arial,Helvetica,sans-serif">
                                <tbody>
                                    @RenderBody()
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </center>
        <div class="yj6qo"></div>
        <div class="adL">
        </div>
    </div>
</body>
</html>*@

<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="telephone=no" name="format-detection">
    <meta content="width=mobile-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" name="viewport">


    <meta content="IE=9; IE=8; IE=7; IE=EDGE;" http-equiv="X-UA-Compatible">
    <title>@Html.GetResource("EmailTemplate_EmailTemplate_Main__line38")</title>

    <style type="text/css">

        @*@import url(http://fonts.googleapis.com/css?family=Tahoma:400,700);*@
        table {border-collapse:separate;}
        a, a:link, a:visited {text-decoration:none; color: #488dc6}
        h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#333333 !important}
        p {margin-bottom: 0}
        .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height: 100%}
        
        .ExternalClass {width: 100%;}

        #outlook a {padding:0;}
        body, #body-table {height:100% !important; width:100% !important; margin:0 auto; padding:0; line-height:100%; !important; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
        img, a img {border:0; outline:none; text-decoration:none;}
        .image-fix {display:block;}
        table, td {border-collapse:collapse;}

        /* Client Specific Resets */
        .ReadMsgBody {width:100%;} .ExternalClass{width:100%;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100% !important;}
        .ExternalClass * {line-height: 100% !important;}
        table, td {mso-table-lspace:0pt; mso-table-rspace:0pt;}
        img {outline: none; border: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
        body, table, td, p, a, li, blockquote {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
        body.outlook img {width: auto !important;max-width: none !important;}

        
        body{ -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; -webkit-font-smoothing: antialiased;}
        body, #body-table {background-color: #e8e8e8 margin:0 auto !important;; margin:0 auto !important; text-align:center !important;}
        p {padding:0; margin: 0; line-height: 24px; font-family: Arial, Helvetica, sans-serif;}
        a, a:link {color: #1c344d;text-decoration: none !important;}
        .footer-link a, .nav-link a {color: #fff6e5;}

        .thread-item.expanded .thread-body{background-color: #edf6ea !important;}
        .thread-item.expanded .thread-body .body, .msg-body{display:block !important;}
        #body-table .undoreset table {display: table !important;table-layout: fixed !important;}

        @@media only screen and (max-width: 640px) {
	        a[href^="tel"], a[href^="sms"] {text-decoration: none;pointer-events: none;	cursor: default;}
	        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration: default;	pointer-events: auto;cursor: default;}
	        *[class].full-width {width: 100%!important;}
	        *[class].mobile-width {width: 440px !important; padding: 0 4px;}
	        *[class].content-width {width: 360px!important;}
	        *[class].content-width-menu {width: 360px!important;}
	        *[class].center {text-align:center !important; height:auto !important;}
	        *[class].center-stack {padding-bottom:20px !important; text-align:center !important; height:auto !important;}
	        *[class].stack {padding-bottom:20px !important; height: auto !important;}
	        *[class].gallery {padding-bottom: 20px!important;}
	        *[class].fluid-img {height:auto !important; max-width:600px !important; width: 100% !important;}
	        *[class].block {display: block!important;}
	        *[class].midaling { width:100% !important; border:none !important; }
	        *[class].emailImage{height:auto !important;max-width:600px !important;width: 100% !important;}
        }
        @@media only screen and (max-width: 480px) {
	        *[class].full-width {width: 100%!important;}
	        *[class].mobile-width {width: 320px!important; padding: 0 4px;}
	        *[class].content-width {width: 240px!important;}
	        *[class].content-width-menu {width: 320px!important;}
	        *[class].navlink {font-size:13px !important;}
	        *[class].center {text-align:center !important; height:auto !important;}
	        *[class].center-stack {padding-bottom:20px !important; text-align:center !important; height:auto !important;}
	        *[class].stack {padding-bottom:20px !important; height: auto !important;}
	        *[class].gallery {padding-bottom: 20px!important;}
	        *[class].fluid-img {height:auto !important; max-width:600px !important; width: 100% !important; min-width:320px !important;}
	        *[class].midaling { width:100% !important; border:none !important; }
	        *[class].navlink{ width:600px !important; border:none !important; }
	        *[class].footer_link{display:block !important; margin-bottom:5px !important;}
	        *[class].hide{display:none !important;}
        }
        @@media only screen and (max-width: 320px) {
	        *[class].full-width {width: 100%!important;}
	        *[class].mobile-width {width: 100%!important; padding: 0 4px;}
	        *[class].content-width {width: 240px!important;}
	        *[class].center {text-align:center !important; height:auto !important;}
	        *[class].center-stack {padding-bottom:30px !important; text-align:center !important; height:auto !important;}
	        *[class].stack {padding-bottom:30px !important; height: auto !important;}
	        *[class].gallery {padding-bottom: 20px!important;}
	        *[class].fluid-img {height:auto !important; max-width:600px !important; width: 100% !important; min-width:320px !important;}
	        *[class].midaling { width:100% !important; border:none !important;}
        }
    </style>
    <!--[if mso]>
    <style>
    .font_fix{font-family:Arial, Helvetica, sans-serif !important;}
    </style>
    <![endif]-->
</head>
<body>
    @{
        var website_url = Url.Action("Index", "Home", new { }, Request.Url.Scheme);
        var css_website_url = "http://homely.vn/";
        var logo = css_website_url + "/images/logo_sticky.png";
        var logo_small = css_website_url + "/images/logo_small.png";
        var logo_fb = css_website_url + "/images/fb_bt.jpg";
        var logo_blog = css_website_url + "/images/blog_bt.jpg";
        var banner = css_website_url + "/images/slide_hero.jpg";
        var banner_footer = css_website_url + "/images/bg_footer.jpg";
        var phone = XT.Web.AppSettings.ContactPhone;
        var email = XT.Web.AppSettings.ContactEmail;
        var website = XT.Web.AppSettings.Website;
        var www_website = "www." + website;
        var title = "Chào mừng bạn đến với Homely.vn";
        var sub_title = "";
        if (ViewBag.title != null)
        {
            title = ViewBag.title;
        }
        if (ViewBag.sub_title != null)
        {
            sub_title = ViewBag.sub_title;
        }
    }
    <!-- Start of banner -->
    <table id="body-table" align="center" width="100%" bgcolor="" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed;">
        <tbody>
            <tr>
                <td valign="top" bgcolor="" align="center">
                    <table width="600" bgcolor="#ffffff" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width">
                        <tbody>
                            <tr>
                                <td valign="top" bgcolor="#ffffff" align="center">
                                    <!-- Start Space -->
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                        <tbody>
                                            <tr>
                                                <td height="26">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Space -->

                                    <!-- Section 1 Starts / Logo social ================  -->
                                    <table width="550" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width-menu">
                                        <tbody>
                                            <tr>
                                                <td height="25" valign="middle" align="left">

                                                    <!-- Start Logo -->
                                                    <table width="160" align="left" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                        <tbody>
                                                            <tr>
                                                                <td height="auto" valign="middle" align="center" class="center-stack">
                                                                    <a href="@website_url">
                                                                        <img src="@logo" width="160" height="auto" alt="Homely.vn">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Logo -->

                                                    <!-- Start Social -->
                                                    <table align="right" cellspacing="0" cellpadding="0" border="0" class="content-width-menu">
                                                        <tbody>
                                                            <tr>
                                                                <td height="34" valign="bottom" align="right" class="center">
                                                                    <a style="text-decoration: none; border: 0;" href="#">
                                                                        <img src="@logo_fb" width="27" height="27" alt="Facebook"></a>
                                                                    &nbsp;
																<a style="text-decoration: none; border: 0" href="#">
                                                                    <img src="@logo_blog" width="27" height="27" alt="Blog"></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Social -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- Section 1 End / Logo social =========================-->

                                    <!-- Start Space====================== -->
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                        <tbody>
                                            <tr>
                                                <td height="25">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Space==================== -->

                                    <!-- Section img principale ==============-->
                                    <table bgcolor="#ffffff" width="100%" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                        <tbody>
                                            <tr>
                                                <td valign="top" align="left"><a href="#">
                                                    <img src="@banner" class="emailImage" alt="Main banner" border="0" width="600" height="320"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <!-- Start Block Content -->
                                                    <table width="550" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <!-- Start Column 1 -->
                                                                    <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="30">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img src="@logo_small" width="58" height="auto" alt=""></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10" style="font-size: 10px; mso-line-height-rule: exactly; line-height: 10px;">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="font_fix" style="font-size: 16px; mso-line-height-rule: exactly; line-height: 20px; color: #555555; font-weight: bold; font-family: 'Montserrat', sans-serif;" align="center">
                                                                                    <strong style="font-size: 20px; text-transform: uppercase;">@title</strong><br>
                                                                                    @sub_title</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="20" style="line-height: 20px;"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 14px; mso-line-height-rule: exactly; line-height: 18px; color: #95a5a6; font-weight: normal; font-family: Arial, Helvetica, sans-serif;" align="center">
                                                                                    @RenderBody()
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="20" style="font-size: 20px; mso-line-height-rule: exactly; line-height: 20px;">&nbsp;</td>
                                                                            </tr>
                                                                            @*<tr>
                                                <td align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="border-radius: 3px; color: #ffffff; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px; text-align: center; text-decoration: none; padding-top: 10px; padding-bottom: 10px; width: 110px; -webkit-text-size-adjust: none; background-color: #51bce6"><a style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none !important" href="#">Go to website</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>*@
                                                                            <tr>
                                                                                <td height="30">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <!-- End Column 1 -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Block Content -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <!-- Start footer ================= -->
                                    <table width="600" bgcolor="#e04f67" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <!-- Start Block Content -->
                                                    <table width="550" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" align="center">
                                                                    <!-- Start Column 1 -->
                                                                    <table align="center" cellspacing="0" cellpadding="0" border="0" class="full-width" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="50">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="font_fix" style="font-size: 14px; height: 20px; color: #ffffff; font-weight: normal; font-family: 'Tahoma', sans-serif;" align="center">@Html.GetResource("EmailTemplate_EmailTemplate_Main__line319")</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="font_fix" style="font-family: 'Tahoma', sans-serif; font-size: 28px; mso-line-height-rule: exactly; line-height: 28px; font-weight: bold; color: #ffffff; text-decoration: none !important;" align="center">@phone</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="font_fix" style="font-size: 12px; font-family: 'Tahoma', sans-serif; line-height: 14px; color: #ffffff; font-weight: bold; padding-top: 5px" align="center"><a href="#" style="color: #ffffff; text-decoration: none !important;">@email</a> - <a href="#" style="color: #ffffff; text-decoration: none !important; text-transform: lowercase;">@www_website</a></td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                    <!-- End Column 1 -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Block Content -->

                                                    <!-- Section img footer -->
                                                    <table bgcolor="#e04f67" width="100%" cellspacing="0" cellpadding="0" border="0" class="full-width">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="bottom" align="left" height="71">
                                                                    <img src="@banner_footer" class="emailImage" alt="Main banner" border="0" width="600" height="71"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- Section img footer  -->

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End footer ==================-->

                                    <!-- Start second footer ============ -->
                                    <table width="600" bgcolor="#464646" align="center" cellspacing="0" cellpadding="0" border="0" class="mobile-width">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <!-- Start Space -->
                                                    <table width="550" align="center" cellspacing="0" cellpadding="0" border="0" class="content-width">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #cccccc; padding-top: 10px; padding-bottom: 10px"><strong>Bản quyền © 2015 @website</strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Space -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Second footer =========== -->

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End main table white containe -->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
