@using XT.Model;
@using XT.Web.External;

@model Tuple<Account, string, string>

@{
    Layout = "EmailTemplate_Main.cshtml";    
}

@if (Model != null)
{
    var account = Model.Item1;
    var name = Model.Item2;
    var email = Model.Item3;
    var website = XT.Web.AppSettings.Website;
    var website_url = Url.Action("RecoverPasswordFinish", "Account", new { key = account.Account_RecoverPasswordKey }, Request.Url.Scheme);
    
    ViewBag.title = "Xin chào " + name;
    ViewBag.sub_title = "Khôi phục mật khẩu tại website " + website;
    
    @*<div>
        <p>Xin chào @name</p>
        <p>Cảm ơn bạn đã sử dụng dịch vụ của @website. Vui lòng click vào đường dẫn sau để khôi phục mật khẩu.</p>
        <p>Lưu ý: Đường dẫn này chỉ sử dụng MỘT LẦN và sẽ hết hạn vào ngày hôm sau.<br />
            <a href="@website_url">@website_url</a>
        </p>
        <p>Lưu ý: Bạn có thể copy mã khôi phục sau trong trường hợp cần thiết:</p>
        <p>Cảm ơn bạn</p>
        <p>@website</p>
    </div>*@
    
    <p>Cảm ơn bạn đã sử dụng dịch vụ của @website. Vui lòng click vào đường dẫn sau để khôi phục mật khẩu.</p>
    <p>
        @Html.GetResource("EmailTemplate_PartialRegisterEmailTemplate_RecoverPassword__line34")<br />
        <a href="@website_url">@website_url</a>
    </p>
    <p>@Html.GetResource("EmailTemplate_PartialRegisterEmailTemplate_RecoverPassword__line37")</p>
}
