@using XT.Web.External
@using XT.Web.Models

@model ChangePasswordModel

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Layout/LayoutAccount.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("../Error/_partialErrorHandle")
    if (XT.Web.External.AuthenticationManager.Account_HasSetPassword)
    {
    <div class="form-group">
        <label>Mật khẩu cũ <span class="text-danger">*</span></label>
        <div>
            @Html.TextBoxFor(model => model.OldPassword,
                                    new
                                    {
                                        @class = "form-control",
                                        placeholder = "Nhập mật khẩu cũ",
                                        type = "password"
                                    })
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        <span class="clearfix"></span>
    </div>
    }
    <div class="form-group">
        <label>Mật khẩu mới <span class="text-danger">*</span></label>
        <div>
            @Html.TextBoxFor(model => model.NewPassword,
                                    new
                                    {
                                        @class = "form-control",
                                        placeholder = "Nhập mật khẩu mới",
                                        type = "password"
                                    })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <label>Nhập lại mật khẩu mới<span class="text-danger">*</span></label>
        <div>
            @Html.TextBoxFor(model => model.ConfirmPassword,
                                    new
                                    {
                                        @class = "form-control",
                                        placeholder = "Nhập lại mật khẩu",
                                        type = "password"
                                    })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <span class="clearfix"></span>
    </div>
    <button class="btn btn-primary btn-block btn-flat" type="submit">@Html.GetResource("Account_ChangePassword__line59")</button>
}
