@using XT.Web.External
@using XT.Web.Models
@using XT.Model

@model XT.Web.Models.RecoverPasswordModel

@{
    Layout = "~/Views/Layout/LayoutAccount.cshtml";
    //Layout = "~/Views/Layout/LayoutAccountBySteps.cshtml";

    //ViewBag.Title = "Khôi phục mật khẩu";
    //ViewBag.Steps = new MyDictionary[] { 
    //    new MyDictionary{ Name = "Khôi phục mật khẩu", Image = "#" },
    //    new MyDictionary{ Name = "Xác thực qua email", Image = "#" },
    //    new MyDictionary{ Name = "Hoàn tất!", Image = "#" },
    //};
    //ViewBag.CurrentStep = 0;
}

<p class="login-box-msg">Hãy liên hệ với admin để khôi phục mật khẩu. Xin cảm ơn!
    <br /><br />
    <a href="@Url.GoAccountLogin()">Đăng nhập</a>
</p>

@*@using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.Partial("../Error/_partialErrorHandle")
    <div class="form-group">
        <label class="col-sm-4 control-label" for="abc">Nhập email để khôi phục <span class="text-danger">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Username,
                                new { @class = "form-control", placeholder = "Nhập email của bạn" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            @Html.Partial("../Account/_partialVerificationBox")
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary" type="submit">@Html.GetResource("Account_RecoverPassword__line44")</button>
        </div>
        <span class="clearfix"></span>
    </div>
}*@
