@using XT.Web.External
@using XT.Web.Models
@using XT.Model

@model XT.Web.Models.RecoverPasswordFinishModel

@{
    Layout = "~/Views/Layout/LayoutAccountBySteps.cshtml";

    ViewBag.Title = "Hoàn tất khôi phục mật khẩu";
    ViewBag.Steps = new MyDictionary[] { 
        new MyDictionary{ Name = "Khôi phục mật khẩu", Image = Url.GoAccountRecoverPassword() },
        new MyDictionary{ Name = "Xác thực qua email", Image = "#" },
        new MyDictionary{ Name = "Hoàn tất!", Image = "#" },
    };
    if (ViewBag.CurrentStep == null)
    {
        ViewBag.CurrentStep = 1;
    }
}

@using (Html.BeginForm("RecoverPasswordFinish", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("../Error/_partialErrorHandle")
    <div class="form-group">
        <label class="col-sm-4 control-label" for="abc">Tên đăng nhập hoặc Email <span class="text-danger">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.Username,
                                new { @class = "form-control", 
                                    placeholder = "Nhập tên đăng nhập hoặc email" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="abc">Mã khôi phục <span class="text-danger">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.RecoverKey,
                                new { @class = "form-control", 
                                    placeholder = "Copy mã khôi phục trong email của " + XT.Web.AppSettings.Website })
            @Html.ValidationMessageFor(model => model.RecoverKey)
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="abc">Mật khẩu mới <span class="text-danger">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.NewPassword,
                                new { @class = "form-control", 
                                    placeholder = "Nhập mật khẩu mới", 
                                    type = "password" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="abc">Nhập lại mật khẩu <span class="text-danger">*</span></label>
        <div class="col-sm-8">
            @Html.TextBoxFor(model => model.ConfirmPassword,
                                new { @class = "form-control", 
                                    placeholder = "Nhập mật khẩu xác thực", 
                                    type = "password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            @*<div class="reCaptchaContainer">
                <div class="g-recaptcha" data-sitekey="@XT.Web.AppSettings.recaptchaPublicKey"></div>
            </div>*@
            @Html.Partial("../Account/_partialVerificationBox")
        </div>
        <span class="clearfix"></span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary" type="submit">@Html.GetResource("Account_RecoverPasswordFinish__line78")</button>
        </div>
        <span class="clearfix"></span>
    </div>
}
