@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using XT.BusinessService;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IEntity>

@{
    var lstItems = Model.ToList<Class_Module_StudentExam>();//sửa
    var name = ViewBag.EntityName as string;
    var entity = ViewBag.Entity as string;
    
    //api
    var controller_name = XT.Web.Models.LayoutModel.GetControllerName();
    var api_delete = "/" + controller_name + "/Delete" + entity;
    //partial
    var addview_name = "AddEdit_Partial/_partial_AddEdit_" + entity;

    var count = 0;
}

<table class="table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Module</th>
            <th>Class</th>
            <th>Type</th>
            <th>Exam Date</th>
            <th class="sorting noajax" data-sorting="sorting-LT">Mark LT</th>
            <th class="sorting noajax" data-sorting="sorting-TH">Mark TH</th>
            <th>Attendance</th>
            <th>Status</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstItems)
        {
            count++;
            
            <tr id="item-@item.Id">
                <td class="notranslate">@count</td>
                <td>
                    @Html.Partial("../ManageAcademic/Partial/_partial_Search_Student_SmallInfo", item.Student)
                </td>
                <td>
                    @item.Class_Module.Module.Module_Code
                </td>
                <td>
                    @item.Class_Module.Class.Class_Name
                </td>
                <td>
                    @{
                        var color = "green";
                        if (item.Student_Status == (int)StudentClassModuleStatusEnum.Guest)
                        {
                            color = "yellow";
                        }
                    }
                    <span class="badge bg-@color">@((StudentClassModuleStatusEnum)item.Student_Status)</span>
                </td>
                <td>@item.Class_Module.Class_Module_Date_Exam.ToDateString()</td>
                <td class="sorting-LT">@item.Mark_LT / @item.Class_Module.Module.Module_Max_LT</td>
                <td class="sorting-TH">@item.Mark_TH / @item.Class_Module.Module.Module_Max_TH</td>
                @{
                    color = item.IsExamValid ? "" : "text-red";     
                }
                <td class="@color">@item.TotalAttendance()%</td>
                @{
                    color = item.IsExamPass ? "" : "text-red";     
                }
                <td class="@color">@item.ExamPassStatus</td>
                <td class="options">
                    @{
                        var prize = item.Student.Prizes_List.FirstOrDefault(p => p.Exam_Id == item.Id);
                        if (prize == null)
                        { 
                            prize = new Prize { 
                                        Exam_Id = item.Id,
                                        Student = item.Student,
                                        Student_Id = item.Student_Id,
                                        Prize_Type = (int)PrizeTypeEnum.Module,
                                        Prize_Semester = item.Class_Module.Module.Semester,
                                        Prize_Date = DateTime.Now,
                                        Title = "Giải thưởng môn " + item.Class_Module.Module.Module_Name 
                                    };
                        }
                        var prize_api = prize.Id == 0 ? "AddPrize" : "EditPrize";
                        var prize_color = prize.Id == 0 ? "yellow" : "green";
                    }
                    <div class="btn-group pull-left">
                        <a class="btn btn-default" 
                            data-toggle="modal" 
                            data-target="#myModaledit-@item.Obj_Id"
                            title="Chỉnh sửa">
                            <i class="fa fa-edit fa-fw"></i>
                        </a>
                        <a class="btn btn-default bg-@prize_color" 
                            data-toggle="modal" 
                            data-target="#myModalprize-@item.Obj_Id"
                            title="Khen thưởng HV này">
                            <i class="fa fa-trophy fa-fw"></i>
                        </a>
                    </div>
                    @{
                        var modal_size = "";
                        if (!string.IsNullOrEmpty(ViewBag.ModalSize))
                        {
                            modal_size = ViewBag.ModalSize;
                        }
                    }
                    <div class="modal fade" id="myModaledit-@item.Obj_Id" role="dialog" aria-labelledby="myModalLabeledit" aria-hidden="true">
                        <div class="modal-dialog @modal_size">
                            <form enctype="multipart/form-data" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabeledit">Chỉnh sửa thông tin @name</h4>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Partial(addview_name, item)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        <button type="submit" class="btn btn-primary btnEdit">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="myModalprize-@item.Obj_Id" 
                        role="dialog" aria-labelledby="myModalLabeledit" aria-hidden="true">
                        <div class="modal-dialog @modal_size">
                            <form enctype="multipart/form-data" method="post" action="@Url.Action(prize_api, "ManageAcademic")">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Giải thưởng @item.Class_Module.Module.Module_Name cho @item.Student.Student_FullName </h4>
                                    </div>
                                    <div class="modal-body">
                                        @Html.Partial("../ManageAcademic/AddEdit_Partial/_partial_AddEdit_Prize", prize)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary btnEdit">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            }
    </tbody>
</table>
