@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using XT.BusinessService;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<IEntity>

@{
    var lstItems = Model.ToList<Class_Module_StudentExam>();//sửa
    var name = ViewBag.EntityName as string;
    var entity = ViewBag.Entity as string;
    
    //api
    var controller_name = XT.Web.Models.LayoutModel.GetControllerName();
    var api_delete = "/" + controller_name + "/Delete" + entity;
    //partial
    var addview_name = "AddEdit_Partial/_partial_AddEdit_" + entity;
}

<table class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Current Class</th>
                <th>Type</th>
                <th>Attendance</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lstItems)
            {
                <tr id="item-@item.Id">
                    <td class="notranslate">@item.Id</td>
                    <td>
                        @Html.Partial("../ManageAcademic/Partial/_partial_Search_Student_SmallInfo", item.Student)
                    </td>
                    <td>
                        @item.Class_Module.Class.Class_Name
                    </td>
                    <td>
                        @{
                            var color = item.Student_Status == (int)StudentClassModuleStatusEnum.Official ? "green" : "yellow";
                        }
                        <span class="badge bg-@color">@((StudentClassModuleStatusEnum)item.Student_Status)</span>
                    </td>
                    <td>@item.TotalAttendance()%</td>
                    <td class="options">
                        <div class="btn-group pull-left">
                            <a class="btn btn-default btn-admin-action" 
                                data-id="@item.Id" 
                                data-action="xóa" 
                                data-api="@api_delete"
                                title="Xóa khỏi danh sách">
                                <i class="fa fa-minus fa-fw"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

