@using XT.Model;
@using XT.Web.Models;
@using XT.Web.External;
@using PagedList;
@using PagedList.Mvc;

@model IOrderedEnumerable<IGrouping<DateTime, Timekeeper>>
@{
    var lstItems = Model;
    var User_Id = ViewBag.User_Id;
    var Current_User = ViewBag.Current_User as User_Profile;

    var canAdd = (bool)ViewBag.CanAdd;
    var title = "Chi tiết chấm công cá nhân";
    var Start_Date = (DateTime)ViewBag.Start_Date;
    var End_Date = (DateTime)ViewBag.End_Date;
    var Start_Date_String = Start_Date.ToString("dd/MM/yyyy");
    var End_Date_String = End_Date.ToString("dd/MM/yyyy");
    var lstQuarters = XT.Web.Models.QuarterModel.GetQuarters();

    ViewBag.Title = title;
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}
@*@section Styles{
    @Styles.Render("~/Content/Admin/Report")
}*@
@section Scripts{
    @Scripts.Url("~/Scripts/Admin/Report")
    @Scripts.Url("~/Scripts/Admin/ManageTimekeeper")
}

<input type="hidden" id="ggmapapikey" value="@ViewBag.MapApiKey" />
<section class="content-header">
    <div class="row">
        <div class="col-md-5 content-header" style="padding-top: 0;">
            <h1>
                @title
                <small>@Current_User.User_Profile_Name</small>
            </h1>
        </div>
        <div class="col-md-7 content-header-actions">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group pull-right by-quater">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-calendar pull-left" style="padding-top: 3px;"></i>&nbsp;
                                <span class="by-quater-text">Theo quý</span>
                                <span class="fa fa-caret-down pull-right" style="padding-top: 3px;"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @foreach (var q in lstQuarters)
                                {
                                    <li>
                                        <a href="#"
                                           data-start-date="@q.First_Date.ToString("dd/MM/yyyy")"
                                           data-end-date="@q.Last_Date.ToString("dd/MM/yyyy")">@q.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="form-group pull-right by-month">
                        <div class="input-group fake-button" style="width: 120px; margin-right: 10px;">
                            <i class="fa fa-calendar"></i>
                            <input type="text" class="form-control date" value="Theo tháng">
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="form-group pull-right by-date" style="margin-right: 10px;">
                        <div class="input-group">
                            <a href="javascript:void(0)" class="btn btn-default pull-right" id="daterange-btn">
                                <i class="fa fa-calendar"></i>&nbsp;<span>Theo ngày</span>&nbsp;<i class="fa fa-caret-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                @if (User_Id != null && canAdd)
                {
                    <div class="col-md-3">
                        <div class="form-group" style="width: 100%;">
                            <button class="btn btn-warning" data-toggle="modal" data-target="#add-modal" onclick="startCamera()" style="width: 100%;">
                                <i class="fa fa-plus fa-fw"></i>&nbsp; Chấm công
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="content" id="filter-container">
    <div class="row ajax-search-group">
        <form id="filter-form" action="@Url.Action("FilterReportByTimekeeper", "ManageTimekeeper")">
            @*Filtering*@
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="Start_Date" value="@Start_Date_String" />
            <input type="hidden" name="End_Date" value="@End_Date_String" />
            <input type="hidden" name="User_Id" value="@User_Id" />

        </form>
        <div class="col-lg-12">
            <div class="Search_Result">
                @Html.Partial("_partial_Report_TimekeeperWithUser_Search", lstItems)
            </div>
        </div>
    </div>
</section>
@if (User_Id != null && canAdd)
{
    <div class="modal fade" id="add-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form enctype="multipart/form-data" method="post" action="@Url.Action("AddTimekeeper")">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Thêm chấm công
                        </h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("AddEdit_Partial/_partial_AddEdit_Timekeeper", new Timekeeper())
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" id="btnAdd">Chấm công</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}